/* Import Fonts
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: #be9296;
  --text: #1f2937;
  --shadow: 0 8px 24px rgba(0,0,0,0.08);
  --radius: 12px;
}

*,
*::before,
*::after { box-sizing: border-box; } */

/* html {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: black;
  font-family:"Sarabun", "Tinos", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

/*
---------------------------------------------
Header Style
---------------------------------------------
*/

/* Desktop browser menu */
 /* header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(240, 231, 216);
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 60px;
  z-index: 1;
  margin: 0 auto;
} */

/* html {
  background:rgb(255, 42, 84);
}

 /* Nav-bar */
/* header {
  display: flex;
  background-color: rgb(254, 247, 187);
  width: 100%;
  height: 70px;
  align-items: center;
  padding-left: 50px;
}

  /* กล่อง Logo-List */
/* .logo-list {
  width: 300px;
  display: flex;
  justify-content: center;
}

.logoSen {
  position: absolute;
  padding: 25px;
}

.menu-bar-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #1f2937;
} */

/* .form-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(231, 231, 82);
}

.form-left-list {
  padding-left: 25px;
  width: auto;
}

h3 {
  display: flex;
  justify-content: center;
  padding-left: 800px;
}


/* .form-input {
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  border-color: white;
      box-shadow: 2px 2px 5px whitesmoke, -2px -2px 5px #111;
}

input[type="date"] {
  width: 175px;
} */